<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
  
  
  
  </title>
  
  
  <link href="atom.xml" rel="alternate" title="" type="application/atom+xml">
    <link rel="stylesheet" href="asset/css/foundation.min.css" />
    <link rel="stylesheet" href="asset/css/docs.css" />
    <script src="asset/js/vendor/modernizr.js"></script>
    <script src="asset/js/vendor/jquery.js"></script>
  <script src="asset/highlightjs/highlight.pack.js"></script>
  <link href="asset/highlightjs/styles/github.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  function before_search(){
    var searchVal = 'site: ' + document.getElementById('search_input').value;
    document.getElementById('search_q').value = searchVal;
    return true;
  }
</script>
  </head>
  <body class="antialiased hide-extras">
    
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">


<nav class="top-bar docs-bar hide-for-small" data-topbar>


  <section class="top-bar-section">
  <div class="row">
      <div style="position: relative;width:100%;"><div style="position: absolute; width:100%;">
        <ul id="main-menu" class="left">
        
        <li id=""><a target="_self" href="index.html">Home</a></li>
        
        <li id=""><a target="_self" href="archives.html">Archives</a></li>
        
        </ul>

        <ul class="right" id="search-wrap">
          <li>
<form target="_blank" onsubmit="return before_search();" action="https://google.com/search" method="get">
    <input type="hidden" id="search_q" name="q" value="" />
    <input tabindex="1" type="search" id="search_input"  placeholder="Search"/>
</form>
</li>
          </ul>
      </div></div>
  </div>
  </section>

</nav>

        <nav class="tab-bar show-for-small">
  <a href="javascript:void(0)" class="left-off-canvas-toggle menu-icon">
    <span> &nbsp; </span>
  </a>
</nav>

<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        
        <li><a target="_self" href="index.html">Home</a></li>
        
        <li><a target="_self" href="archives.html">Archives</a></li>
        

    <li><label>Categories</label></li>

        
            <li><a href="%E7%94%B5%E5%BD%B1.html">电影</a></li>
        
            <li><a href="%E5%85%B6%E5%AE%83.html">其它</a></li>
        
            <li><a href="Python.html">Python</a></li>
        
            <li><a href="iOS.html">iOS</a></li>
        
            <li><a href="%E6%88%91.html">我</a></li>
         

      </ul>
    </aside>

<a class="exit-off-canvas" href="#"></a>


        <section id="main-content" role="main" class="scroll-container">
        
       

 <script type="text/javascript">
	$(function(){
		$('#menu_item_index').addClass('is_active');
	});
</script>
<div class="row">
	<div class="large-8 medium-8 columns">
		<div class="markdown-body home-categories">
		
			<div class="article">
                <a class="clearlink" href="16076509808576.html">
                
                  <h1>Django入门 — 建立简易博客以及ORM关系介绍</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<ul>
<li>开源的Python Web框架</li>
<li>MVC模式</li>
</ul>

<blockquote>
<p>使用Django 必须先安装Python，推荐安装3.0版本以上的Python3<br/>
然后再用pip安装工具安装Django<br/>
由于我安装的是python3 所以我的pip工具是pip3<br/>
安装命令<code>pip3 install django==2.0</code><br/>
最后选择适合自己的IDE<br/>
我使用的是VSCode</p>
</blockquote>

<h2 id="toc_0">优点</h2>

<ul>
<li>开发效率高</li>
<li>功能强大，丰富的第三方插件</li>
<li>重视安全，避免安全漏洞</li>
</ul>

<p>命令语句django-admin 检查django是否成功安装。</p>

<p><img src="media/15583189073141/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202019-05-20%20%E4%B8%8A%E5%8D%8811.19.16.png" alt="屏幕快照 2019-05-20 上午11.19.16"/></p>

<ul>
<li>startproject # 创建一个django项目</li>
<li>startapp # 创建一个django应用</li>
<li>check # 检验项目完整性</li>
<li>runserver # 本地简易运行django项目</li>
<li>shell # 进入django项目的python shell环境</li>
<li>test # 执行django用例测试</li>
</ul>

<p>数据库相关</p>

<ul>
<li>makemigrations # 创建模型变更的迁移文件</li>
<li>migrate # 执行上一个命令创建的迁移文件</li>
<li>dumpdata # 把数据库数据导出到文件</li>
<li>loaddata # 把文件数据导入到数据库</li>
</ul>

<h2 id="toc_1">Django 应用 VS Django项目</h2>

<p>首先要明白Django项目和应用的区别</p>

<ul>
<li>1个Django项目就是一个基于Django的web应用</li>
<li>1个Django应用就是一个可重用的python软件包</li>
<li>1个Django应用可以自己管理模型视图模版路由和静态文件</li>
<li>1个Django项目可以包含一组配置和若干个Django应用。</li>
</ul>

<hr/>

<h3 id="toc_2">创建一个Django项目</h3>

<ol>
<li><p>创建一个项目</p>
<pre><code class="language-text">django-admin startproject django_intrduction
</code></pre></li>
<li><p>用VSCode打开项目文件夹</p>
<p>结构目录如下</p>
<p>Django_instrduction</p>
<ul>
<li><p>Django_instrduction</p>
<ul>
<li><strong>init</strong>.py//项目初始化</li>
<li>setting.py//🌟项目配置文件</li>
<li>urls.py//项目路由配置文件</li>
<li>wsgi.py//python服务器网关接口</li>
</ul></li>
<li><p>manage.py//项目管理文件 </p></li>
</ul></li>
<li><p>运行项目 终端命令<code>python3 manage.py runserver</code></p></li>
</ol>

<h4 id="toc_3">Django项目重要文件介绍</h4>

<h5 id="toc_4">setting.py</h5>

<pre><code class="language-text">import os

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))#项目根目录


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/2.0/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = &#39;7bet#*gq%**^7*)5m%)avx&amp;sg6yv_^&amp;t5b!@8+$(&amp;of&amp;_^1wv)&#39;#项目安全码

# SECURITY WARNING: don&#39;t run with debug turned on in production!
DEBUG = True #不要在正式环境中打开 如果打开的话异常会抛到前端

ALLOWED_HOSTS = []
#ALLOWED_HOSTS = [&#39;localhost&#39;] 只允许host是数组中的内容的地址访问我们的网站 其他地址都屏蔽了


# Application definition

INSTALLED_APPS = [
    &#39;django.contrib.admin&#39;,
    &#39;django.contrib.auth&#39;,
    &#39;django.contrib.contenttypes&#39;,
    &#39;django.contrib.sessions&#39;,
    &#39;django.contrib.messages&#39;,
    &#39;django.contrib.staticfiles&#39;,
    &#39;blog.apps.BlogConfig&#39;,#自己创建的应用要写在这里面 才能被识别
]

MIDDLEWARE = [
    &#39;django.middleware.security.SecurityMiddleware&#39;,
    &#39;django.contrib.sessions.middleware.SessionMiddleware&#39;,
    &#39;django.middleware.common.CommonMiddleware&#39;,
    &#39;django.middleware.csrf.CsrfViewMiddleware&#39;,
    &#39;django.contrib.auth.middleware.AuthenticationMiddleware&#39;,
    &#39;django.contrib.messages.middleware.MessageMiddleware&#39;,
    &#39;django.middleware.clickjacking.XFrameOptionsMiddleware&#39;,
]

ROOT_URLCONF = &#39;django_intrduction.urls&#39;

#django中的模板就是一个个的html文件
TEMPLATES = [
    {
        &#39;BACKEND&#39;: &#39;django.template.backends.django.DjangoTemplates&#39;,
        &#39;DIRS&#39;: [],
        &#39;APP_DIRS&#39;: True,
        &#39;OPTIONS&#39;: {
            &#39;context_processors&#39;: [
                &#39;django.template.context_processors.debug&#39;,
                &#39;django.template.context_processors.request&#39;,
                &#39;django.contrib.auth.context_processors.auth&#39;,
                &#39;django.contrib.messages.context_processors.messages&#39;,
            ],
        },
    },
]


</code></pre>

<h3 id="toc_5">创建一个Django应用</h3>

<ol>
<li><p>创建一个应用</p>
<p>运行项目 终端命令<code>python3 manage.py startapp 应用名</code></p></li>
<li><p>用VSCode打开项目文件夹</p>
<p>结构目录如下</p>
<p>Django_instrduction</p>
<ul>
<li><p>应用名</p>
<ul>
<li>views.py//🌟执行响应的代码所在模块，大部分代码都在这里</li>
<li>models.py//定义应用模型、使用orm框架</li>
<li>apps.py //声明应用的地方</li>
<li>admin.py //定义admin模块管理的地方、后台管理配置</li>
<li>tests.py //自动化测试模块，编写测试用例的地方 </li>
<li>urls.py //（自行创建）管理应用路由的地方</li>
</ul></li>
<li><p>Django_instrduction</p>
<ul>
<li><strong>init</strong>.py//项目初始化</li>
<li>setting.py//项目配置文件</li>
<li>urls.py//项目路由配置文件</li>
<li>wsgi.py</li>
</ul></li>
<li><p>manage.py//项目管理文件 </p></li>
</ul></li>
</ol>

<h2 id="toc_6">Django HelloWorld</h2>

<h3 id="toc_7">Django 视图</h3>

<blockquote>
<p>大部分代码都写在views.py当中，所以编辑views是非常重要的，</p>
</blockquote>

<ul>
<li>每个响应对应一个函数，函数必须返回一个响应。</li>
<li>函数必须存在一个参数，一般约定为request</li>
<li>每个响应函数对应一个url</li>
</ul>

<pre><code class="language-text">//views.py
from django.shortcuts import render
from django.http import HttpResponse
# Create your views here.
def hello_world(request):
    return HttpResponse(&quot;hello world&quot;)
</code></pre>

<h3 id="toc_8">Django 路由</h3>

<ul>
<li>每个URL都以url的形式写出来</li>
<li>url函数放在urlpatterns列表中</li>
</ul>

<pre><code class="language-text">应用路由
from django.urls import path,include

import blog.views


urlpatterns = [
    path(&quot;hello_world&quot;,blog.views.hello_world)
]
</code></pre>

<pre><code class="language-text">项目路由
from django.contrib import admin
from django.urls import path,include

urlpatterns = [
    path(&#39;admin/&#39;, admin.site.urls),
    path(&#39;blog/&#39;, include(&quot;blog.urls&quot;)),
]

</code></pre>

<h2 id="toc_9">概念介绍及实战</h2>

<h4 id="toc_10">Django 模型</h4>

<h5 id="toc_11">模型层简介</h5>

<h6 id="toc_12">模型层是什么</h6>

<ul>
<li>位于视图层和数据库之间</li>
<li>python对象和数据表之间转换</li>
</ul>

<h6 id="toc_13">为什么需要模型层</h6>

<ul>
<li>屏蔽不同的数据库之间的差异</li>
<li>开发者更加专注于业务逻辑的开发</li>
<li>提供很多便捷工具有助开发</li>
</ul>

<h5 id="toc_14">创建博客文章模型</h5>

<h6 id="toc_15">设计播客文章模型</h6>

<ul>
<li>文章标题——文本类型</li>
<li>文章摘要——文本类型</li>
<li>文章内容——文本类型</li>
<li>唯一id标记——int类型（自增、主键）</li>
<li>发布日期——日期类型</li>
</ul>

<h6 id="toc_16">模型层常用字段</h6>

<ul>
<li>数字类型：
<ul>
<li>IntegerField()#整数 11个字节</li>
<li>BigIntegerField()#整数 20个字节</li>
<li>PositiveIntegerField()#正整数 10个字节</li>
<li>SmallIntegerField()#整数 6个字节</li>
<li>PositiveSmallIntegerField()#正整数 5个字节</li>
</ul></li>
<li>文本类型：
<ul>
<li>TextField()#longtext</li>
<li>CharField()#varchar</li>
<li>布尔类型<br/></li>
<li>BooleanField()#允许为空</li>
<li>NullBooleanField()#不允许为空</li>
</ul></li>
<li>浮点型
<ul>
<li>FloatField()</li>
<li>DecimalField()#指定整数和小数各多少位</li>
</ul></li>
<li>日期类型：
<ul>
<li>DateTimeField()#年月日时分秒</li>
<li>DateField()# 年月日</li>
<li>DurationField()#一段时间 int类型</li>
</ul></li>
<li>自增ID： 
<ul>
<li>AutoField()</li>
<li>BigAutoField()//接受更大的值</li>
</ul></li>
<li>主键定义：primary_key属性</li>
<li><p>二进制数据</p>
<ul>
<li>BinaryField()</li>
</ul></li>
<li><p>其他类型</p>
<ul>
<li>EmailField()#邮箱</li>
<li>ImageField()#图片</li>
<li>FileField()#文件</li>
<li>FilePathField()#文件路径</li>
<li>UrlField()</li>
<li>UUIDField()</li>
<li>GenericIPAddressField()#ip地址</li>
</ul></li>
</ul>

<h6 id="toc_17">模型层关系型字段</h6>

<ul>
<li>一对一（OneToOneField）</li>
<li>多对一(ForeignKey)</li>
<li>多对多(ManyToManyField)</li>
</ul>

<h6 id="toc_18">生成数据表</h6>

<ol>
<li>命令行进入到manage.py同级目录</li>
<li>执行python3 manage.py makemigrations appname（可选）</li>
<li>执行python3 manage.py migrate </li>
</ol>

<h6 id="toc_19">Demo</h6>

<ol>
<li>在应用的 models.py 定义模型</li>
</ol>

<pre><code class="language-text">from django.db import models
# Create your models here.
class Aritcle(models.Model):
    
    aritcle_id = models.AutoField(primary_key=True)
    title = models.TextField()
    brief_content = models.TextField()
    content = models.TextField()
    publish_date = models.DateTimeField(auto_now=True)
    
    def __str__(self):
        return self.title

# 演示关系型model      
class A(models.Model):
    onetoone = models.OneToOneField(Aritcle)

class B(models.Model):
    foreign = models.ForeignKey(A)

class C(models.Model):
    manytomany = models.ManyToManyField(B)
       
</code></pre>

<ol>
<li><p>然后迁移模型定义到数据库当中</p>
<ul>
<li>python3 manage.py makemigrations appname</li>
</ul>
<pre><code class="language-text">Alexs-MacBook-Air:django_intrduction alexwee$ python3 manage.py makemigrations blog
Migrations for &#39;blog&#39;:<br/>
  blog/migrations/0001_initial.py<br/>
    - Create model Aritcle
</code></pre></li>
<li><p>运行迁移文件 把迁移文件的内容同步到数据库中</p>
<ul>
<li>python3 manage.py migrate appname</li>
</ul>
<pre><code class="language-text">Alexs-MacBook-Air:django_intrduction alexwee$ python3 manage.py migrate  blog
Operations to perform:<br/>
Apply all migrations: blog<br/>
Running migrations:<br/>
Applying blog.0001_initial... OK
</code></pre></li>
</ol>

<h5 id="toc_20">Django shell</h5>

<p>Python shell 用于交互式的python编程<br/>
Django shell 也类似继承django项目环境</p>

<h6 id="toc_21">为什么要使用django shell</h6>

<ul>
<li>临时性操作使用django shell更加方便</li>
<li>小范围的debug更简单，不需要运行整个项目来测试</li>
<li>方便开发 方便调试 方便debug</li>
</ul>

<h6 id="toc_22">demo</h6>

<p>使用django shell 新建文章</p>

<ol>
<li><p><code>python3 manage.py shell</code>进入shell 环境</p>
<pre><code class="language-text">Python 3.7.1 (v3.7.1:260ec2c36a, Oct 20 2018, 03:13:28) 
[Clang 6.0 (clang-600.0.57)] on darwin<br/>
Type &quot;help&quot;, &quot;copyright&quot;, &quot;credits&quot; or &quot;license&quot; for more information.<br/>
(InteractiveConsole)<br/>
&gt;&gt;&gt; 
</code></pre></li>
<li><p>在shell环境新建文章并保存到数据库</p>
<pre><code class="language-&gt;&gt;&gt;">from blog.models import Aritcle
&gt;&gt;&gt; a = Aritcle()<br/>
&gt;&gt;&gt; a.title = &quot;test django shell&quot;<br/>
&gt;&gt;&gt; a.brief_content = &quot;test django shell by maweefeng&quot;<br/>
&gt;&gt;&gt; a.content = &quot;test django shell new ariticle main content&quot;<br/>
&gt;&gt;&gt; <br/>
&gt;&gt;&gt; <br/>
&gt;&gt;&gt; <br/>
&gt;&gt;&gt; print(a)<br/>
Aritcle object (None)<br/>
&gt;&gt;&gt; a.save()//保存到数据库<br/>
&gt;&gt;&gt; 
</code></pre></li>
<li><p>验证文章是否保存到数据库</p>
<pre><code class="language-text">&gt;&gt;&gt; ariticle = Aritcle.objects.all()//取出所有文章
&gt;&gt;&gt; aricle = ariticle[0]//取到第一篇文章<br/>
&gt;&gt;&gt; print(aricle.title)<br/>
&lt;class &#39;django.db.models.fields.TextField&#39;&gt;<br/>
&gt;&gt;&gt; <br/>
&gt;&gt;&gt; print(aricle)<br/>
Aritcle object (1)<br/>
&gt;&gt;&gt; print(aricle.content)<br/>
&lt;class &#39;django.db.models.fields.TextField&#39;&gt;<br/>
&gt;&gt;&gt; 
</code></pre></li>
</ol>

<h5 id="toc_23">django admin模块</h5>

<h6 id="toc_24">django admin模块是什么</h6>

<ul>
<li>是一个后台管理工具，不需要用户开发后台管理工具</li>
<li>可以读取定义的模型元数据，提供强大的管理使用页面</li>
</ul>

<h6 id="toc_25">为什么要使用django admin模块</h6>

<ul>
<li>django shell 新建文章太复杂了</li>
<li>管理页面是基础设施中重要的部分</li>
<li>认证用户，显示管理模型，校验输入等功能类似</li>
</ul>

<h6 id="toc_26">使用方法</h6>

<ul>
<li>创建管理员用户
<code>python3 manage.py createsuperuser</code></li>
</ul>

<pre><code class="language-text">* Alexs-MacBook-Air:django_intrduction alexwee$ python3 manage.py createsuperuser
Username (leave blank to use &#39;alexwee&#39;): maweefeng
address: 
Password: 
Password (again): 
Superuser created successfully.
Alexs-MacBook-Air:django_intrduction alexwee$ 
</code></pre>

<ul>
<li><p>登陆页面进行管理</p>
<ul>
<li>项目跑起来<code>python3 manage.py runserver</code></li>
<li>浏览器输入 <a href="http://127.0.0.1:8000/admin">http://127.0.0.1:8000/admin</a> 进入登陆页面</li>
</ul>
<p><img src="media/15583189073141/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202019-05-21%20%E4%B8%8A%E5%8D%8811.13.25.png" alt="屏幕快照 2019-05-21 上午11.13.25  " style="width:400px;"/></p>
<p><img src="media/15583189073141/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202019-05-21%20%E4%B8%8A%E5%8D%8811.13.55.png" alt="屏幕快照 2019-05-21 上午11.13.55 " style="width:400px;"/></p></li>
</ul>

<p>但是没有看到刚才新建的文章模型，是因为我们还没有把模型注册到admin中，进入IDE中的应用目录下的admin.py </p>

<pre><code class="language-text">from django.contrib import admin

# Register your models here.

from .models import Aritcle

admin.site.register(Aritcle)  
</code></pre>

<p>回到浏览器刷新 就有了新的分组</p>

<p><img src="media/15583189073141/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202019-05-21%20%E4%B8%8A%E5%8D%8811.20.06.png" alt="屏幕快照 2019-05-21 上午11.20.06"/></p>

<h5 id="toc_27">实现播客数据返回页面</h5>

<p>类似于之前返回的helloworld项目</p>

<ol>
<li><p>应用视图 views.py</p>
<pre><code class="language-text">from django.shortcuts import render
from django.http import HttpResponse<br/>
from blog.models import Summary<br/>
# Create your views here.<br/>
def hello_world(request):<br/>
    return HttpResponse(&quot;hello world&quot;)<br/>
def ariticle_content(request):<br/>
    summary = Summary.objects.all()[0]<br/>
    title = summary.summary_title<br/>
    content = summary.summary_content<br/>
    summary_id = summary.summary_id<br/>
    pubdate = summary.publish_date<br/>
    return_str = &#39;title:%s summary_content:%s summary_id:%s publicdate:%s&#39;%(title,content,summary_id,pubdate)<br/>
    return HttpResponse(return_str)
</code></pre></li>
<li><p>应用路由 urls.py</p>
<pre><code class="language-text">from django.urls import path,include
import blog.views<br/>
urlpatterns = [<br/>
    path(&quot;hello_world&quot;,blog.views.hello_world),<br/>
    path(&quot;content&quot;,blog.views.ariticle_content)<br/>
]
</code></pre></li>
<li><p>项目路由 urls.py</p>
<pre><code class="language-text">from django.contrib import admin
from django.urls import path,include<br/>
urlpatterns = [<br/>
    path(&#39;admin/&#39;, admin.site.urls),<br/>
    path(&#39;blog/&#39;, include(&quot;blog.urls&quot;)),<br/>
]
</code></pre></li>
</ol>

<h2 id="toc_28">Django视图与模板</h2>

<h3 id="toc_29">使用Bootstrap实现静态博客页面</h3>

<h4 id="toc_30">页面布局设计</h4>

<ul>
<li>博客首页</li>
<li>文章详情页</li>
</ul>

<h4 id="toc_31">Bootstrap 以及 Bootstrap的栅格系统</h4>

<p>Bootstrap是来自美国twitter的前端框架，提供非常多的控件以及源码，栅格系统就是把web页面分成几等份排列的方式。</p>

<h4 id="toc_32">创建模板文件夹并实现静态页面</h4>

<p><strong>在应用文件夹内部新建文件夹templates，然后在里面新建html文件,这是很关键的一步</strong></p>

<h5 id="toc_33">⚠️注意事项</h5>

<p>还有需要注意的是最好在templates文件夹中再新建应用名所属的文件夹，然后在应用名所属的文件夹中新建html文件，这是因为Django查找templates是按照INSTALLED_APPS中的添加顺序查找templats，所以不同应用下的templates的html同名会造成冲突。</p>

<h3 id="toc_34">认识Django的模版系统</h3>

<p>python的视图文件不适合编码html，因为页面设计改变需要修改python代码，比较复杂。另外网页的逻辑和视图应该分开设计。</p>

<p>模版系统的表现形式是文本，分离文档的表现形式和表现内容，模版系统定义了特有的标签占位符。</p>

<p><strong>学习模版系统的基本语法</strong></p>

<ol>
<li>变量标签：{{变量}}</li>
<li><p>for循环标签：{% for x in list %},{% endfor %}     </p>
<pre><code class="language-text">  &lt;ul&gt;
    {% for item in list%}<br/>
    &lt;li&gt;{{item}}&lt;/li&gt;<br/>
    {% endfor%}<br/>
    &lt;/ul&gt;
</code></pre></li>
<li><p>if-else标签：{% if %},{% else %},{%endif%}</p>
<pre><code class="language-text"> {% if true %}
        &lt;p&gt;it is true part&lt;/p&gt;<br/>
    {%else%}<br/>
        &lt;p&gt;it is false part&lt;/p&gt;<br/>
    {% endif %}
</code></pre></li>
</ol>

<h3 id="toc_35">使用模版系统渲染博客页面</h3>

<p>render渲染函数</p>

<ul>
<li>render() 函数中支持一个dict类型的参数</li>
<li>该字典是后台传递到模板的参数，键为参数名</li>
<li><p>在模板中使用{{参数名}}来直接使用</p>
<pre><code class="language-text">def render(request, template_name, context=None, content_type=None, status=None, using=None)
Return a HttpResponse whose content is filled with the result of calling django.template.loader.render_to_string() with the passed arguments.
</code></pre></li>
</ul>

<p>编写django应用的views.py </p>

<pre><code class="language-text">from django.shortcuts import render
from django.http import HttpResponse
from blog.models import Summary,Article
    
def get_index_page(request):
    all_ariticle = Summary.objects.all()
    return render(request,&#39;blog/index.html&#39;,{&#39;aritcle_list&#39;:all_ariticle})

</code></pre>

<h3 id="toc_36">实现文章详情页面跳转</h3>

<h4 id="toc_37">Django中的超链接</h4>

<h5 id="toc_38">1⃣️ 直接拼接</h5>

<p>直接在a标签的href中拼接需要点击跳转的路径 在html的表现形式为</p>

<pre><code class="language-text">&lt;a href=&quot;/blog/detail/{{item.summary_id}}&quot;&gt;&lt;/a&gt;
</code></pre>

<h5 id="toc_39">2⃣️ 参数以及命名空间</h5>

<ul>
<li>href后面是目标地址</li>
<li>templates中可以用<code>&quot;{% url &#39;app_name:url_name&#39; param%}&quot;</code></li>
<li>其中app_name 和 url_name都在url中配置。</li>
</ul>

<h6 id="toc_40">url函数的名称参数</h6>

<ul>
<li>项目urls.py 写在include（）的第二个参数位置，namespace=&#39;blog&#39;，还要在第一个参数中传入一个包含appname的元组 见下面demo</li>
<li>应用下则写在url()的第三个参数位置，写上name=‘方法名’</li>
<li>主要取决于是否使用include引用了另一个url配置文件</li>
</ul>

<h6 id="toc_41">Demo</h6>

<ul>
<li><p>django项目的urls.py </p>
<pre><code class="language-text">  from django.contrib import admin
from django.urls import path,include<br/>
urlpatterns = [<br/>
    path(&#39;admin/&#39;, admin.site.urls),<br/>
    path(&#39;blog/&#39;, include((&quot;blog.urls&quot;,&#39;blog&#39;),namespace=&#39;blog&#39;)),  <br/>
]
</code></pre></li>
<li><p>django应用的urls.py </p>
<pre><code class="language-text">from django.urls import path,include
import blog.views<br/>
urlpatterns = [<br/>
    path(&quot;hello_world&quot;,blog.views.hello_world),<br/>
    path(&quot;index&quot;,blog.views.get_index_summary_page),<br/>
    path(&quot;detail/&lt;int:article_id&gt;&quot;,blog.views.get_index_page,name=&#39;get_index_page&#39;)<br/>
]
</code></pre></li>
<li><p>django应用的views.py </p>
<pre><code class="language-text">def get_detail_page(request,summary_id):
    all_ariticle = Summary.objects.all()<br/>
    cur_article = None<br/>
    for aritcle in all_ariticle:<br/>
        if aritcle.summary_id == summary_id:<br/>
            cur_article = aritcle<br/>
            break<br/>
    sectionList = cur_article.summary_content.split(&#39;\n&#39;)<br/>
return render(request,&#39;blog/detail.html&#39;,{&#39;curr_aritcle&#39;:cur_article,&#39;section_list&#39;:sectionList})
</code></pre></li>
<li><p>html超链接部分代码写法</p>
<pre><code class="language-text"> &lt;a href=&quot;{% url &#39;blog:get_detail_page&#39; item.summary_id %}&quot;&gt;&lt;/a&gt;
</code></pre></li>
</ul>

<h3 id="toc_42">实现分页功能</h3>

<p>参数request包含了一些get以及post的信息。</p>

<ul>
<li><p>django应用的views.py </p>
<pre><code class="language-text">def get_index_page(request):
    # 适用与/index?page=1之类的网络请求<br/>
    page = request.GET.get(&#39;page&#39;)<br/>
    if page:<br/>
        page = int(page)<br/>
    else:<br/>
        page = 1<br/>
    all_ariticle = Summary.objects.all()<br/>
    return render(request,&#39;blog/index.html&#39;,{&#39;aritcle_list&#39;:all_ariticle})
</code></pre></li>
</ul>

<h4 id="toc_43">django分页组件Paginator</h4>

<ul>
<li><p>在views.py中引入分页组件</p>
<pre><code class="language-text">from django.core.paginator import Paginator
def get_index_page(request):<br/>
    # 适用与/index?page=1之类的网络请求<br/>
    page = request.GET.get(&#39;page&#39;)<br/>
    if page:<br/>
        page = int(page)<br/>
    else:<br/>
        page = 1<br/>
    all_ariticle = Summary.objects.all()<br/>
    paginator = paginator(all_ariticle,3)<br/>
    page_aritcle_list = paginator.page(page)<br/>
    page_num = paginator.num_pages<br/>
    if page_aritcle_list.has_next():<br/>
        next_page = page + 1<br/>
    else:<br/>
        next_page = page<br/>
    if page_aritcle_list.has_previous():<br/>
        previous_page = page - 1<br/>
    else:<br/>
        previous_page = page<br/>
    return render(request,&#39;blog/index.html&#39;,{<br/>
        &#39;aritcle_list&#39;:page_aritcle_list,<br/>
        &#39;page_num&#39;:range(1,page_num+1),<br/>
        &quot;curr_page&quot;:page,<br/>
        &#39;next_page&#39;:next_page,<br/>
        &#39;previous_page&#39;:previous_page<br/>
        }<br/>
        )
</code></pre></li>
</ul>

<h2 id="toc_44">补充部分 ORM</h2>

<p>ORM</p>

<ul>
<li>对象关系映射(object relation mapping)</li>
<li>实现了对象和数据库之间的映射</li>
<li>隐藏了数据访问的细节，不需要编写sql语句</li>
</ul>

<h3 id="toc_45">如何删除一个模型类</h3>

<ol>
<li>首先删除models.py中模型类的代码</li>
<li>删除模型类在migrations文件夹中对应的文件</li>
<li>删除django_migrations中对应的生成记录</li>
<li>再删除模型对应的数据表 </li>
</ol>

<p>切记不要直接把数据库整个删掉再生成，尤其是当数据库中有数据的时候。</p>

<h3 id="toc_46">如何导入数据</h3>

<ol>
<li><p>django shell</p>
<pre><code class="language-&gt;&gt;&gt;">from blog.models import Aritcle
&gt;&gt;&gt; a = Aritcle()<br/>
&gt;&gt;&gt; a.title = &quot;test django shell&quot;<br/>
&gt;&gt;&gt; a.brief_content = &quot;test django shell by maweefeng&quot;<br/>
&gt;&gt;&gt; a.content = &quot;test django shell new ariticle main content&quot;<br/>
&gt;&gt;&gt; a.save()//保存到数据库
</code></pre></li>
<li><p>脚本批量导入</p>
<pre><code class="language-text">import os
import sys<br/>
import random<br/>
import django<br/>
from datetime import date<br/>
# 在当前项目中运行该python脚本<br/>
project_path = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))<br/>
sys.path.append(project_path)<br/>
os.environ[&#39;DJANGO_SETTINGS_MODULE&#39;] = &#39;Django_ORM.settings&#39;<br/>
django.setup() <br/>
from orm.models import Aritcle<br/>
#上面这行必须在django.setup()之后<br/>
def import_data():<br/>
    for i in [1,2,3,4,5,6,7,8,9,10]:<br/>
         Aritcle.objects.create(title = &#39;这个是标题%s&#39;%(i),brief_content=&#39;这个是简介&#39;,content=&#39;这个是内容我们都有一个家名字叫中国&#39;)<br/>
    return True<br/>
if __name__ == &quot;__main__&quot;:<br/>
    if import_data():<br/>
        print(&#39;插入数据成功&#39;)
</code></pre></li>
<li><p>fixtures <br/>
使用django serialization 生成 model</p>
<ul>
<li><p>终端命令导出数据<code>python3 manage.py dumpdata &gt;  orm.json</code>生成了一个json文件</p></li>
<li><p>然后从数据库中删除部分数据  </p></li>
<li><p>执行命令从json中导入数据 <code>python3 manage.py loaddata  orm.json</code>  </p></li>
<li><p>数据库中重新出现了刚才删除的数据（因为从json中重新导入了数据） </p></li>
</ul></li>
<li><p>数据库层面的导入数据</p></li>
</ol>

<h3 id="toc_47">如何导出数据</h3>

<ol>
<li><p>导出fixtures能识别的json文件</p>
<ul>
<li>终端命令导出数据<code>python3 manage.py dumpdata &gt;  orm.json</code>生成了一个json文件</li>
</ul></li>
<li><p>导出其他格式的文件<br/>
pcharm自带的数据库工具，单选某个表右键dump data to file<br/>
nivacate datum等数据库工具导出数据<br/>
<img src="https://ws3.sinaimg.cn/large/006tNc79gy1g3b37uxg9aj31740p945u.jpg" alt=""/></p></li>
<li><p>数据库层面的导出数据</p></li>
</ol>

<h3 id="toc_48">ModelsAPI</h3>

<h4 id="toc_49">查询集介绍</h4>

<ol>
<li><p>查询 过滤 检索</p>
<pre><code class="language-text">Aritcle.objects.all()#返回所有结果
Aritcle.objects.get(title=&#39;这是一个标题&#39;)#返回一个结果 多条则会报错<br/>
Aritcle.objects.filter(star__gte = 500)#queryset可以是多条结果 fans &gt;=500的结果
</code></pre></li>
<li><p>字段数据匹配 大小写敏感</p>
<pre><code class="language-text">teacher = Aritcle.objects.filter(star__in=[555,1231])
teacher = Aritcle.objects.filter(title__contains=&#39;a&#39;)
</code></pre></li>
<li><p>结果切片 排序 链式查询</p>
<pre><code class="language-text">Aritcle.objects.all()[:1]
Aritcle.objects.all().order_by(&#39;star&#39;)#升序排序<br/>
Aritcle.objects.all().order_by(&#39;-star&#39;)#降序排序<br/>
Aritcle.objects.filter(star__gte = 500).order_by(&#39;-star&#39;)#链式查询
</code></pre></li>
<li><p>查看执行的原生SQL xxx.query</p>
<pre><code class="language-text">print(str(Aritcle.objects.filter(star__gte = 500).order_by(&#39;-star&#39;).query))
</code></pre></li>
</ol>

<h4 id="toc_50">返回新的QuerySet的API</h4>

<ol>
<li><p>all() filter() order_by() exclude()去掉某个model reverse()反转 distinct()去重</p>
<pre><code class="language-text">Aritcle.objects.all().exclude(title = &#39;title&#39;)
Aritcle.objects.all().exclude(title = &#39;title&#39;).reverse()
</code></pre></li>
<li><p>extra() defer() only() 实现字段别名 排除一些字段 选择一些字段</p>
<pre><code class="language-text">Aritcle.objects.all().extra(select={&#39;article_title&#39;=&#39;title&#39;})
Aritcle.objects.all().only(&#39;title&#39;,&#39;star&#39;).query()
</code></pre></li>
<li><p>dates() datetimes() 根据时间日期获取查询集</p>
<pre><code class="language-text">Aritcle.objects.dates(&#39;publish_date&#39;,&#39;month&#39;,order =&#39;DESC&#39;)
</code></pre></li>
<li><p>union() intersection() difference() 并集 交集 差集</p>
<pre><code class="language-text">a_500 = Aritcle.objects.filter(star__gte = 500)
a_200 = Aritcle.objects.filter(star__lte = 200)<br/>
print(a_500.union(a_200))<br/>
print(a_500.intersection(a_200))<br/>
print(a_500.difference(a_200))
</code></pre></li>
<li><p>select_related() 一对一 多对一查询优化 prefetch_related() 一对多 多对多查询优化 反向查询</p>
<pre><code class="language-text">Aritcle.objects.all().select_related(&#39;author&#39;)
Audiences.objects.filter(star__gte = 500).prefetch_related(&#39;article&#39;)
</code></pre></li>
<li><p>annotate() 使用聚合计数 求和 平均数 raw()执行原声sql</p>
<pre><code class="language-text"># 对每个文章关联的作者的评🌟进行统计
Aritcle.objects.values(&#39;author&#39;).annotate(vol=Sum(&#39;star&#39;))<br/>
# vol star 总和 <br/>
Aritcle.objects.values(&#39;author&#39;).annotate(ave=Avg(&#39;star&#39;))<br/>
# ave star 求平均值 
</code></pre></li>
<li><p>values() values_list() 获取字典或者元祖形式的queryset</p>
<pre><code class="language-text">Aritcle.objects.values(&#39;title&#39;,&#39;star&#39;)
Aritcle.objects.values_list(&#39;title&#39;,&#39;star&#39;)
</code></pre></li>
</ol>

<h4 id="toc_51">不返回QuerySet的API</h4>

<ol>
<li><p>获取对象 get()获取单个对象 get_or_create()获取或者创建 first() last() latest() earliest() in_bulk()</p></li>
<li><p>创建对象 create() bulk_create() create_or_update() 创建 批量创建 创建或更新</p></li>
<li><p>更新对象 update()  update_or_create()更新 更新或创建</p>
<pre><code class="language-text">Aritcle.objects.filter(star__gte = 500).update(star=20)
</code></pre></li>
<li><p>删除对象delete() 使用filter过滤</p>
<pre><code class="language-text">Aritcle.objects.filter(star__gte = 500).delete()
</code></pre></li>
<li><p>其他操作exists() count() aggregate()判断是否存在 统计个数 聚合 </p>
<pre><code class="language-text">Aritcle.objects.filter(star = 500).exists()
Aritcle.objects.count()<br/>
Aritcle.objects.aggregate(Max(&#39;star&#39;,Min(&#39;star&#39;),Avg(&#39;star&#39;)))
</code></pre></li>
</ol>

<h4 id="toc_52">自定义聚合查询 实现group_concat</h4>

<p>在models.py 中自定义继承自models.Aggregate 的类GroupConcat</p>

<pre><code class="language-text">class GroupConcat(models.Aggregate):
    function = &#39;Group_Concat&#39;
    template = &#39;%(fuction)s(%(distinct)s%(expressions)s%(ordering)s%(separator)s)&#39;

    def __init__(self,expression,distinct=False,ordering=None,separator=&#39;,&#39;,**extra):
        super(GroupConcat,self).__init__(expression,
        distinct=&#39;DISTINCT&#39; if distinct else &#39;&#39;,
        ordering = &#39;ORDER BY %s&#39; % ordering if ordering is not None else &#39;&#39;,
        separator = &#39;SEPARATOR &quot;%s&quot;&#39;%separator,
        output_field=models.CharField(),**extra)


</code></pre>

<p>views.py</p>

<pre><code class="language-text">Aritcle.objects.values(&#39;author&#39;).annotate(title=GroupConcat(&#39;title&#39;,distinct=True,ordering=&#39;title ASC&#39;,separator=&#39;-&#39;))
</code></pre>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2018/4/20</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='Python.html'>Python</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
			<div class="article">
                <a class="clearlink" href="16076509808613.html">
                
                  <h1>python开发 端口占用问题</h1>
                  <div class="a-content">
                      
                      <div class="a-content-text">
                        
                        	<p>当你该端口被其他进程占用时，那就需要你修改为一个未使用的端口号重新运行。<br/>
是运行程序没有通过 C正常结束而是直接关闭Terminal或者其他非正常途径退出的时候。<br/>
解决方法：<br/>
1.终端输入：lsof -i:(port)，查看占用该端口号的进程，一般就是刚未正常退出的进程。</p>

<p>例如 lsof -i:8000<br/>
<img src="https://ws2.sinaimg.cn/large/006tNc79gy1g39ukl2qxmj30iy0d9gns.jpg" alt=""/></p>

<p>2.然后kill掉该PID的进程，重新运行。 <br/>
sudo kill 8000</p>

                        
                      </div>
                  </div>
                </a>
                <div class="read-more clearfix">
                  <div class="more-left left">
                  
                    <span class="date">2018/4/10</span>
                    <span>posted in&nbsp;</span> 
          				  
          					    <span class="posted-in"><a href='Python.html'>Python</a></span>
          				   
                  </div>
                  <div class="more-right right">
                  <span class="comments">
                      

                       
                  </span>
                  </div>
                </div>
              </div><!-- article -->
        
              


			<div class="row">
			  <div class="large-6 columns">
			  <p class="text-left" style="padding-top:25px;">
			   <a href="all_10.html">&laquo; Prev Page</a>  
			  </p>
			  </div>
			  <div class="large-6 columns">
			<p class="text-right" style="padding-top:25px;">
			
			</p>
			  </div>
			</div>
		</div>
	</div><!-- large 8 -->

 <div class="large-4 medium-4 columns">
  <div class="hide-for-small">
    <div id="sidebar" class="sidebar">
          <div id="site-info" class="site-info">
            
                <h1></h1>
                <div class="site-des"></div>
                <div class="social">










<a target="_blank" class="email" href="mailto:maweefeng@gmail.com" title="Email">Email</a>
  <a target="_blank" class="rss" href="atom.xml" title="RSS">RSS</a>
                
              	 </div>
          	</div>

             

              <div id="site-categories" class="side-item ">
                <div class="side-header">
                  <h2>Categories</h2>
                </div>
                <div class="side-content">

      	<p class="cat-list">
        
            <a href="%E7%94%B5%E5%BD%B1.html"><strong>电影</strong></a>
        
            <a href="%E5%85%B6%E5%AE%83.html"><strong>其它</strong></a>
        
            <a href="Python.html"><strong>Python</strong></a>
        
            <a href="iOS.html"><strong>iOS</strong></a>
        
            <a href="%E6%88%91.html"><strong>我</strong></a>
         
        </p>


                </div>
              </div>

              <div id="site-categories" class="side-item">
                <div class="side-header">
                  <h2>Recent Posts</h2>
                </div>
                <div class="side-content">
                <ul class="posts-list">
	      
		      
			      <li class="post">
			        <a href="16076509804045.html">RACCommand</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="16076509805027.html">关于我</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="16076509807659.html">点击事件发生在视图边界之外的时候</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="16076509806399.html">Localization Issue Warning Storyboard</a>
			      </li>
		     
		  
		      
			      <li class="post">
			        <a href="16076509804683.html">Xcode打包遇到的坑</a>
			      </li>
		     
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		  
		      
		   
		  		</ul>
                </div>
              </div>
        </div><!-- sidebar -->
      </div><!-- hide for small -->
</div><!-- large 4 -->

</div><!-- row -->

 <div class="page-bottom clearfix">
  <div class="row">
   <p class="copyright">Copyright &copy; 2015
Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp; 
Theme used <a target="_blank" href="http://github.com">GitHub CSS</a>.</p>
  </div>
</div>

        </section>
      </div>
    </div>

  
    

    <script src="asset/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
      function fixSidebarHeight(){
        var w1 = $('.markdown-body').height();
          var w2 = $('#sidebar').height();
          if (w1 > w2) { $('#sidebar').height(w1); };
      }
      $(function(){
        fixSidebarHeight();
      })
      $(window).load(function(){
          fixSidebarHeight();
      });
     
    </script>

    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script type="text/x-mathjax-config">MathJax.Hub.Config({TeX: { equationNumbers: { autoNumber: "AMS" } }});</script>


  </body>
</html>
